* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    outline: none;
}

body {
    padding: 20px;
}

.wraper {
    display: flex;
    width: 673px;
    padding: 20px;
}

.formbox {

    border: 1px solid #87CEFA;
    box-shadow: 0 0 15px 0 #87CEFA;
    border-radius: 10px;
    padding: 50px;
}

.header {
    width: 511px;
    height: 260px;
    background-color: #87CEFA;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}


h1 {
    color: white;
    font-size: 60px;
    line-height: 65px;
    width: 70%;

}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    color: #757575;
    font-family: Inter;
    font-size: 13.672px;
    font-weight: 400;
}

input[type=radio],
input[type=checkbox] {
    width: auto;
    display: inline-block;

}


input:focus,
textarea:focus {
    border: 3px solid blue;
    color: blue;
}

.button button {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color: blue;
    width: 157px;
    height: 42px;
    padding: 10px 3.21px 10px 9.79px;
    align-items: center;
    border-style: none;
    transition: 5ms;

}

.button>button:hover {
    background-color: rgb(83, 83, 220);
    cursor: pointer;
}